.cards .card{
    transition: 0.4s;
    box-shadow: 5px 5px 10px grey;
}
.cards .card:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 2px grey;
}
.down-shadow{
    box-shadow: 0px 5px 20px grey ;
}
#nav-header{
    transition: 0.4s;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}